body{
  margin-top: 50px;
  font-size: 16px;
  background-color: #f1f1f1;
}

h1,h2,h3,h4,h5,h6{
  font-family: Poppins;
}

p{
  font-family: Roboto;
}

.espacio {
  padding-right: 300px;

}

.fixed {
        position: fixed;
        width: 25%;
}

/*Header*/

#descripcion .container, #ventajas .container, #autor .container, #contactamos .container{
  background-color: white;
  width: 60%;
  padding: 50px;
  border-bottom: solid;
  border-width: 1px;
  border-color: grey;
}



.header {
  background-image: url(../img/header.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

}

.header .row{
  padding-top: 80px;
}

.header h1{
  color: white;
  font-size: 80px;
  padding-top: 50px;
  padding-bottom: 100px;
  font-weight: bold;
}

@media(max-width:768px) {
.header h1{
  font-size: 50px;
}

}


.aca {
  padding-top: 30px;
}


.navbar-default{
  background: #fff
  border:0;
  font-family: Poppins;
}

.navbar-brand{
  font-size: 20px;
  color: #000 !important;
  font-weight: bold;
}



a{
  color: white;
}
a:hover{
  color: white;
}

.bg{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f1f1f1;
}

#descripcion .img-responsive{
  margin-top: 90px;
  width: 550px;
  height: 200px;
}

#autor img{
  width: 150px;
  height: 150px;
}

#ventajas .img-responsive{
  width: 600px;
  height: 800px;
}

.logo {
  width: 100px;
  height: 50px;
}

footer{
  padding-top: 30px;
  padding-bottom: 30px;
}

<style type="text/css">#af-form-1416930558 .af-body .af-textWrap {
  width: 98%;
  display: block;
  float: none;
}

#af-body-1416930558 > div.af-element.buttonContainer{
  padding-top: 15px;
  padding-left: 30px;
}


#af-form-1416930558 .af-body .privacyPolicy {
  color: #CCCCCC;
  font-size: 11px;
  font-family: Verdana, sans-serif;
}

#af-form-1416930558 .af-body a {
  color: #CCCCCC;
  text-decoration: underline;
  font-style: normal;
  font-weight: normal;
}

#af-form-1416930558 .af-body input.text, #af-form-1416930558 .af-body textarea {
  background-color: #FFFFFF;
  border-color: #D9D9D9;
  border-width: 1px;
  border-style: solid;
  color: #C7C7C7;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  font-family: Trebuchet MS, sans-serif;
}

#af-form-1416930558 .af-body input.text:focus, #af-form-1416930558 .af-body textarea:focus {
  background-color: #FFFAD6;
  border-color: #030303;
  border-width: 1px;
  border-style: solid;
}

#af-form-1416930558 .af-body label.previewLabel {
  display: block;
  float: none;
  text-align: left;
  width: auto;
  color: #949494;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  font-family: Helvetica, sans-serif;
}

#af-form-1416930558 .af-body {
  padding-bottom: 15px;
  padding-top: 15px;
  background-repeat: no-repeat;
  background-position: inherit;
  background-image: none;
  color: #CCCCCC;
  font-size: 11px;
  font-family: Verdana, sans-serif;
}

#af-form-1416930558 .af-header {
  padding-bottom: 9px;
  padding-top: 9px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #F5F5F5;
  background-repeat: no-repeat;
  background-position: inherit;
  background-image: none;
  border-width: 1px;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  color: #CCCCCC;
  font-size: 16px;
  font-family: Verdana, sans-serif;
}

#awf_field-92653564{
  width: 200px;
}

#awf_field-92653565{
  width: 200px;
}

#af-form-1416930558 .af-quirksMode .bodyText {
  padding-top: 2px;
  padding-bottom: 2px;
}

/*#af-form-1416930558 .af-quirksMode {
  padding-right: 60px;
  padding-left: 60px;
}*/

/*#af-form-1416930558 .af-standards .af-element {
  padding-right: 60px;
  padding-left: 60px;
}*/

#af-form-1416930558 .bodyText p {
  margin: 1em 0;
